In [1]:
import pandas as pn

In [2]:
df = pn.read_csv('./diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [4]:
df.shape

(768, 9)

In [12]:
# df['Age']
df.iloc[:,3]

0      35
1      29
2       0
3      23
4      35
       ..
763    48
764    27
765    23
766     0
767    31
Name: SkinThickness, Length: 768, dtype: int64

In [32]:
df[(df['BMI']==26) | (df['BMI']>50)].sort_values('BMI', ascending=False)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
177,0,129,110,46,130,67.1,0.319,26,1
445,0,180,78,63,14,59.4,2.420,25,1
673,3,123,100,35,240,57.3,0.880,22,0
125,1,88,30,42,99,55.0,0.496,26,1
120,0,162,76,56,100,53.2,0.759,25,1
303,5,115,98,0,0,52.9,0.209,28,1
193,11,135,0,0,0,52.3,0.578,40,1
247,0,165,90,33,680,52.3,0.427,23,0
285,7,136,74,26,135,26.0,0.647,51,0
421,2,94,68,18,76,26.0,0.561,21,0
496,5,110,68,0,0,26.0,0.292,30,0
752,3,108,62,24,0,26.0,0.223,25,0

In [38]:
x = df.loc[45:65,'Pregnancies':'Age']
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
45,0,180,66,39,0,42.0,1.893,25
46,1,146,56,0,0,29.7,0.564,29
47,2,71,70,27,0,28.0,0.586,22
48,7,103,66,32,0,39.1,0.344,31
49,7,105,0,0,0,0.0,0.305,24
50,1,103,80,11,82,19.4,0.491,22
51,1,101,50,15,36,24.2,0.526,26
52,5,88,66,21,23,24.4,0.342,30
53,8,176,90,34,300,33.7,0.467,58
54,7,150,66,42,342,34.7,0.718,42
55,1,73,50,10,0,23.0,0.248,21
56,7,187,68,39,304,37.7,0.254,41
57,0,100,88,60,110,46.8,0.962,31
58,0,146,82,0,0,40.5,1.781,44
59,0,105,64,41,142,41.5,0.173,22
60,2,84,0,0,0,0.0,0.304,21
61,8,133,72,0,0,32.9,0.270,39
62,5,44,62,0,0,25.0,0.587,36
63,2,141,58,34,128,25.4,0.699,24
64,7,114,66,0,0,32.8,0.258,42
65,5,99,74,27,0,29.0,0.203,32

In [39]:
df_group = df.groupby("Age")
df_group

In [40]:
df_group.count()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome
Age,,,,,,,,
21,63,63,63,63,63,63,63,63
22,72,72,72,72,72,72,72,72
23,38,38,38,38,38,38,38,38
24,46,46,46,46,46,46,46,46
25,48,48,48,48,48,48,48,48
26,33,33,33,33,33,33,33,33
27,32,32,32,32,32,32,32,32
28,35,35,35,35,35,35,35,35
29,29,29,29,29,29,29,29,29
30,21,21,21,21,21,21,21,21
31,24,24,24,24,24,24,24,24
32,16,16,16,16,16,16,16,16
33,17,17,17,17,17,17,17,17
34,14,14,14,14,14,14,14,14
35,10,10,10,10,10,10,10,10
36,16,16,16,16,16,16,16,16
37,19,19,19,19,19,19,19,19
38,16,16,16,16,16,16,16,16
39,12,12,12,12,12,12,12,12
40,13,13,13,13,13,13,13,13
41,22,22,22,22,22,22,22,22
42,18,18,18,18,18,18,18,18
43,13,13,13,13,13,13,13,13
44,8,8,8,8,8,8,8,8
45,15,15,15,15,15,15,15,15
46,13,13,13,13,13,13,13,13
47,6,6,6,6,6,6,6,6
48,5,5,5,5,5,5,5,5
49,5,5,5,5,5,5,5,5
50,8,8,8,8,8,8,8,8
51,8,8,8,8,8,8,8,8
52,8,8,8,8,8,8,8,8
53,5,5,5,5,5,5,5,5
54,6,6,6,6,6,6,6,6
55,4,4,4,4,4,4,4,4
56,3,3,3,3,3,3,3,3
57,5,5,5,5,5,5,5,5
58,7,7,7,7,7,7,7,7
59,3,3,3,3,3,3,3,3
60,5,5,5,5,5,5,5,5
61,2,2,2,2,2,2,2,2
62,4,4,4,4,4,4,4,4
63,4,4,4,4,4,4,4,4
64,1,1,1,1,1,1,1,1
65,3,3,3,3,3,3,3,3
66,4,4,4,4,4,4,4,4
67,3,3,3,3,3,3,3,3
68,1,1,1,1,1,1,1,1
69,2,2,2,2,2,2,2,2
70,1,1,1,1,1,1,1,1
72,1,1,1,1,1,1,1,1
81,1,1,1,1,1,1,1,1

In [43]:
df['test']=df['Age']

In [45]:
df.drop('test', axis=1, inplace=True)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [46]:
df.loc[len(df)] = {
    "Pregnancies":2, 
    "Glucose":86,
    "BloodPressure":42,
    "SkinThickness":24,
    "Insulin":0,
    "BMI":24,
    "DiabetesPedigreeFunction":0.342,
    "Age":42
}
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1.0
1,1,85,66,29,0,26.6,0.351,31,0.0
2,8,183,64,0,0,23.3,0.672,32,1.0
3,1,89,66,23,94,28.1,0.167,21,0.0
4,0,137,40,35,168,43.1,2.288,33,1.0
...,...,...,...,...,...,...,...,...,...
764,2,122,70,27,0,36.8,0.340,27,0.0
765,5,121,72,23,112,26.2,0.245,30,0.0
766,1,126,60,0,0,30.1,0.349,47,1.0
767,1,93,70,31,0,30.4,0.315,23,0.0
768,2,86,42,24,0,24.0,0.342,42,NaN

In [47]:
df.isna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False
768,False,False,False,False,False,False,False,False,True

In [48]:
df1 = df.dropna()
df1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1.0
1,1,85,66,29,0,26.6,0.351,31,0.0
2,8,183,64,0,0,23.3,0.672,32,1.0
3,1,89,66,23,94,28.1,0.167,21,0.0
4,0,137,40,35,168,43.1,2.288,33,1.0
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0.0
764,2,122,70,27,0,36.8,0.340,27,0.0
765,5,121,72,23,112,26.2,0.245,30,0.0
766,1,126,60,0,0,30.1,0.349,47,1.0
767,1,93,70,31,0,30.4,0.315,23,0.0

In [50]:
df.fillna(0, inplace=True)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1.0
1,1,85,66,29,0,26.6,0.351,31,0.0
2,8,183,64,0,0,23.3,0.672,32,1.0
3,1,89,66,23,94,28.1,0.167,21,0.0
4,0,137,40,35,168,43.1,2.288,33,1.0
...,...,...,...,...,...,...,...,...,...
764,2,122,70,27,0,36.8,0.340,27,0.0
765,5,121,72,23,112,26.2,0.245,30,0.0
766,1,126,60,0,0,30.1,0.349,47,1.0
767,1,93,70,31,0,30.4,0.315,23,0.0
768,2,86,42,24,0,24.0,0.342,42,0.0

In [51]:
df.to_csv('new_file.csv')